/* Srcery Color Scheme */
@define-color bg #1c1b19;
@define-color fg #fce8c3;
@define-color bg_hard #1c1b19;
@define-color bg_soft #918175;
@define-color bg_visual #fce8c3;
@define-color fg_hard #baa67f;

@define-color red #ef2f27;
@define-color red_bright #f75341;
@define-color green #519f50;
@define-color green_bright #98bc37;
@define-color yellow #fbb829;
@define-color yellow_bright #fed06e;
@define-color blue #2c78bf;
@define-color blue_bright #68a8e4;
@define-color magenta #e02c6d;
@define-color magenta_bright #ff5c8f;
@define-color cyan #0aaeb3;
@define-color cyan_bright #2be4d0;

@define-color orange #ff5f00;
@define-color bright_orange #ff8700;
@define-color hard_black #1c1b19;
@define-color gray #918175;
@define-color white #fce8c3;
